# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

# Ignore package tarball (built via "mix hex.build").
deployex_web-*.tar

# Ignore assets that are produced by build tools.
/priv/static/assets/

# Ignore digested assets cache.
/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/assets/node_modules/

# Dialyzer
/priv/plts/*.plt
/priv/plts/*.plt.hash

# Ignore appup files
/rel/appups

# Ignore digested files after release
/priv/static/favicon-*
/priv/static/robots-*
/priv/static/*.txt.gz
/priv/static/images/elixir-*
/priv/static/images/erlang-*
/priv/static/images/gleam-*
/priv/static/images/phoenix-*
/priv/static/images/unknown-*
/priv/static/images/linux-*
/priv/static/images/gleam-*
/priv/static/images/logo-*
/priv/static/images/windows-*
/priv/static/images/mac-*
/priv/static/images/*.svg.gz