name: Publishing Releases

on:
  push:
    tags:
      - "*"

env:
  MIX_ENV: prod
  SHELL: /usr/bin/bash

jobs:
  buildUbuntu2404:
    if: github.event.base_ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup BEAM
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict

      - name: Install libcap-dev [recommended by erlexec]
        run: sudo apt-get install libcap-dev -y

      - name: Install Elixir dependencies
        run: mix do deps.get, compile --warnings-as-errors

      - name: Assets Deploy
        run: mix assets.deploy

      - name: Compile and Generate a Release
        run: mix release

      - name: Rename Artifact
        run: mv _build/prod/*.tar.gz deployex-ubuntu-24.04.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: deployex-ubuntu-24.04.tar.gz
          path: .

  copyInstaller:
    if: github.event.base_ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Move installer to root
        run: mv devops/installer/deployex.sh deployex.sh

      - uses: actions/upload-artifact@v4
        with:
          name: deployex.sh
          path: .

  createRelease:
    if: github.event.base_ref == 'refs/heads/main'
    name: Publish artifacts to the release
    needs: [buildUbuntu2404, copyInstaller]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
     - name: Download ubuntu-24.04 artefact
       uses: actions/download-artifact@v4
       with:
         name: deployex-ubuntu-24.04.tar.gz
         path: .

     - name: Download installer artefact
       uses: actions/download-artifact@v4
       with:
         name: deployex.sh
         path: .

     - name: Release the files
       uses: ncipollo/release-action@v1
       with:
         artifacts: "deployex-ubuntu-24.04.tar.gz, deployex.sh"
         bodyFile: "CHANGELOG.md"
